//color code variable
$mercury: #e7e7e7;

//screen size variable
$smallMobile: 'small-mobile';
$mediumMobile: 'medium-mobile';
$mobile: 'mobile';
$tablet: 'tablet';
$miniLaptop: 'mini-laptop';
$smallLaptop: 'small-laptop';
$mediumLaptop: 'medium-laptop';