html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 10px;

    @include respond($miniLaptop) {
        font-size: 9px;
    }

    @include respond($tablet) {
        font-size: 9px;
    }

    @include respond($mobile) {
        font-size: 8px;
    }
}

body {
    font: {
        size: 1.4rem;
        weight: 500;
    }

    margin: 0;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.8rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $mercury;
    border-radius: 5px;
}

a {
    text-decoration: none;
}